<div class="kanban-board container-fluid">
  <div class="project-name">
    <div class="">
      <h3>Angular Assessment Tasks</h3>
    </div>
  </div>
  <div class="task-cards">
    <div class="row">
      <div
        class="col-lg-3 col-md-3 col-sm-3 col-12"
        *ngFor="let board of kanbanBoard; let i = index"
      >
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h4>{{ board.taskType }}</h4>
            </div>
          </div>
          <div class="card-body">
            <div class="task" *ngFor="let task of board.tasks">
              <p>{{ task.taskName }}</p>
            </div>
            <div class="add-new-task task" *ngIf="board.isAddCard">
              <p>
                <input
                  type="text"
                  name="taskName"
                  [(ngModel)]="dataModel.taskName"
                  placeholder="Enter a card title"
                />
              </p>
              <button class="btn btn-sm btn-dark mt-2" (click)="saveCard(i)">
                Add
              </button>
              <button
                class="btn btn-sm btn-secondary mt-2"
                (click)="closeCard(i)"
              >
                Cancel
              </button>
            </div>
          </div>

          <div class="card-footer">
            <div class="add-task cursor-pointer" (click)="addCard(i)">
              <p><i class="fa fa-plus"> </i> &nbsp; Add New Task</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
